.card {
  width: 250px;
  height: 463px;
  background: linear-gradient(180deg, #19587b 0%, #2b87ae 100%);
  /* margin-left: 2.5%;
    margin-right: 2.5%; */
}

.card img {
  height: 300px;
  width: 250px;
  top: 0;
}

.info {
  height: 163px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.info h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.desconto {
  display: flex;
  flex-direction: row;
}

.desconto h1 {
  width: 80px;
  height: 37px;
  background: #4c6b22;
  color: #beeb14;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}

.precos {
  width: 142px;
  height: 37px;
  background: #344654;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.precos h2 {
  color: #beeb14;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.preços p {
  color: #a8a8a8;
  text-align: right;
  text-decoration: line-through;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: strikethrough;
  text-transform: uppercase;
}

.info button {
  width: 222px;
  height: 38px;
  border-radius: 10px;
  border: none;
  background: #549300;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.info button:hover {
  background-color: #5b9e05;
  scale: 1.025;
  box-shadow: 1px 1px 4px rgb(0, 0, 0.9);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.4);
  transform: scale(1.05, 1.05);
}

.card div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.card div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card div:nth-of-type(3) {
  z-index: 2;
  background: #343739;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.card div:nth-of-type(3) span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #f0f0f0;
}
.card div:nth-of-type(3) h3 {
  margin-top: 5px;
  color: #f9d3b4;
}

.card:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}
.card:hover div:nth-of-type(3) {
  background: transparent;
}

.card:hover div:nth-of-type(1) {
  opacity: 1;
}
